body{
  margin: 0;
  padding: 0;
  background-image: url(images/tennis.jpg);
  background-size: cover;
  font-family:Poppins;
}


.wrapper{
  width: 500px;
  height: 400px;
  color: #000;
  left: 50%;
  bottom: 54%;
  padding: 60px 30px;
  position: absolute;
  transform: translate(-50%,50%);
  box-sizing: border-box;
  box-shadow: 8px 8px 50px #000;
  background-color: rgba(25, 30, 38, 0.8);
}


h1{
  text-align: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid silver;
  color: silver;
}

::placeholder {
  color: silver;
  font-size: 1.2em;
}


.wrapper input{
  width: 100%;
  margin-bottom: 20px;
}

.wrapper input[type=text], .wrapper input[type=password]{
  border: none;
  border-bottom: 1px solid ###d;
  background: transparent;
  outline: none;
  height: 30px;
  font-size: 16px;
  opacity: 1;
  color: #fff;
}

.wrapper input[type=submit]{
  border: none;
  outline: none;
  height 40px;
  background: #f6648b;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.wrapper input[type=submit]:hover{
  cursor: pointer;
}

.wrapper a{
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}

.wrapper a:hover{
  color: #fff;
  opacity: 1;
}

.bottom-text{
  font-size: 14px;
  color: #fff;
}

.bottom-text input{
  width: 10%;
}

.bottom-text a{
  float: right;
}

p {text-align: center;}

.lead{
  padding-top: 10px;
  padding-bottom: 20px;
}
